VCAP_SERVICES='{"glpi": [{"name": "glpi-dev", "credentials": {"url": "http://glpi.example.com/apirest.php", "username": "glpi", "password": "glpi", "app_token": "4doczd0ws04hcfvtj3q4he18a9sdad8as08da09s" }}]}'
